@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

.App {
  text-align: center;
  background-color: rgb(5, 41, 46);
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 100px;
  background-image: url(./Assests/Images/Header2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  background-position: center;
}

.search-box {
  width: 100%;
  position: absolute;
  top: 70px;
  display: flex;
  justify-content: center;
}

input {
  height: 20px;
  width: 60%;
  border-style: none;
  font-size: 10px;
}

button {
  height: 22px;
  width: 30%;
  background-color: white;
  border-width: 0px;
  border-left-width: 0.5px;
  border-color: rgb(126, 126, 126);
  font-size: 10px;
  color: rgb(126, 126, 126);
}

.location-info {
  margin: 15px;
  background-color: rgb(6, 34, 38);
  padding: 0px 10px;
  border-color: aliceblue;
  border-bottom-width: 4px;
  line-height: 1.6;
  text-align: left;
  font-weight: 400;
}

.location-info span {
  font-weight: 900;
}

.resident-card {
  background-color: rgb(6, 34, 38);
  margin: 15px 15px;
  text-align: left;
  position: relative;
  padding-bottom: 5px;
}

.resident-card img {
  width: 100%;
}

.resident-info {
  padding-left: 15px;
  padding-right: 15px;
}

.resident-card h2 {
  font-size: 15px;
  color: rgb(126, 126, 126);
  margin-bottom: 4px;
}

.resident-card p {
  margin-top: 5px;
}

.resident-name {
  font-size: 25px;
  font-weight: 400;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 3px;
  border-bottom-color: rgb(5, 41, 46);
  padding-bottom: 5px;
}

.status {
  display: flex;

  position: absolute;
  top: 30px;
  background-color: rgb(6, 34, 38);
  height: 30px;
  width: 150px;
  font-size: 12px;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.status .unknown {
  background-color: grey;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  margin: 0px 10px;
}

.status .Dead {
  background-color: brown;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  margin: 0px 10px;
}

.status .Alive {
  background-color: green;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  margin: 0px 10px;
}

.status p {
  margin: 0;
}

@media (min-width: 768px) {
  header {
    height: 210px;
  }

  .search-box {
    position: absolute;
    top: 150px;
    width: 100%;
  }

  input {
    width: 85%;
    height: 30px;
    padding: 0px 5px 0px;
  }

  button {
    width: 10%;
    height: 30px;
  }

  .location-info {
    display: flex;
    width: 100%vw;
    margin: 0px 2.5%vw;
    padding: 0px 15px;
    flex-direction: row;
    justify-content: space-between;
  }

  .resident-card {
    width: 350px;
    margin: 15px 15px;
  }

  .resident-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .App {
    width: 100%vw;
    align-items: center;
  }

  header {
    width: 860px;
    height: 240px;
  }

  .search-box {
    position: absolute;
    top: 170px;
    width: 850px;
  }
  input {
    width: 70%;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
  }

  button {
    width: 10%;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
  }

  .location-info {
    width: 860px;
    margin: 15px 0px;
    padding: 0;
  }

  .location-info p {
    margin: 15px;
  }

  .resident-card {
    width: 400px;
    margin: 15px 0px;
  }

  .resident-list {
    width: 860px;
    justify-content: space-between;
  }
}
